Python\Python_Lec_practical_session\DailyPracticals\Day10\survey_results.csv
Python\Python_Lec_practical_session\DailyPracticals\Day7\datasets\survey_results.csv
Python/Python_Lec_practical_session/DailyPracticals/Day10/survey_results.csv
Python/Python_Lec_practical_session/DailyPracticals/Day7/datasets/survey_results.csv
